/* 公共样式表css */
html, body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
/* 必要布局样式css */
.change-content {
    padding: 5px 0;
}

.change-box {
    padding-bottom: 70px;
}

.change-main {
    width: 80%;
    margin-left:10%;
    margin: 0 auto;
    position: relative;
    transition: all .3s ease;
}


.change-box .change-cut {
    margin: 40px 0 88px;
    /* width: 1551px; */
}

.transition {
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.change-box .change-cut .tab {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    border-right: 1px solid #e5e5e5;
    /* border-left: none; */
    position: relative;
    cursor: default;
    width: 33.33%;
    float:left;
    /* margin-right: 0px; */
}

.flex-rows{
    display: flex;
    flex-direction: row;
   /*  justify-content: center; */
    align-items: center;
}

.change-box .change-cut ul{
    border: 1px solid #e5e5e5;
    margin-left: 0px;
    /* width: 1200px; */
}

.contents{
    width:100%;
}

.change-box .change-cut .tab.on {
    background-color: #20B09F;
    color: #fff;
}

.change-box .change-cut .tab.on:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid;
    border-color: #20B09F transparent transparent transparent;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
}



.change-box .contents > .flex-row {
    justify-content: space-between;
}



.change-box .item {
    box-sizing: border-box;
   /*  border: 1px solid #E5E5E5; */
    width: 100%;
   /*  height: 122px; */
    padding:15px 0px 15px 0px;
    float: left;
    transition: all .3s ease;
   /*  margin-right: 26px; */
}

.img-block {
    margin: 0 auto;
    display: block;
}

.change-box .img-block {
    margin: 0 20px 0 0;
    float: left;
}

.img-block img {
    display: block;
    margin: 0 0 0 20px;
    max-width: 100%;
}

.change-box .item-title {
    font-size: 18px;
    color: #333;
}

.change-box .item-p {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    width:100%;
}

.change-box .item:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
}

.items-news .items-news-list .item a:hover {
    color: #20B09F;
}
.item-xiazai{
	width: 100%;
	margin-top: 10px;
}
.mashangxiazai{
	text-decoration:none;
	padding:5px 10px 5px 10px;
	border: 1px solid #3fba93;
	color:#fff;
	border-radius: 3px;
	background: #3fba93;
	float:right;
	margin-right: 10%;
}
